{% extends "base.html" %}
{%block content%}
<h1>Note Detail</h1>

<h2>Game Date: {{note.game_date}}</h2>
    <ul>
        <li>Team: {{note.team}}</li>
        <li>Spread: {{note.spread}}</li>
        <li>Total: {{note.total}}</li>
        <li>Moneyline: {{note.moneyline}}</li>
        <li>Prior Week Winning Margin: {{note.prior_week_winning_margin}}</li>
        <li>Travel Miles: {{note.travel_miles}}</li>
    </ul>
    <a href="{% url 'note_update' note.pk %}">Edit</a>
    <a href="{% url 'note_delete' note.pk %}">Delete</a>

{%endblock%}