{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit">Submit</button>
  </form>

  {% if not games %}
    <h2>Select Your Team!</h2>
  {% else %}
    {% for game in games %}
      <ul>
        <li>Date: {{ game.display_date }}</li>
        <li>Location: {{ game.location }}</li>
        <li>Home vs Away: {{ game.homeAway }}</li>
        <li>Opponent: {{ game.opponent }}</li>
        <li>Team Score: {{ game.team_score }}</li>
        <li>Opponent Score: {{ game.opp_score }}</li>
        <li>Margin: {{ game.margin }}</li>
      </ul>
    {% endfor %}
  {% endif %}
{% endblock %}

